@mixin smoothtext {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased !important;
	   -moz-font-smoothing: antialiased !important;
			font-smoothing: antialiased !important;
}

@mixin cleanlist {
	&, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

@mixin inlinelist {
	overflow: hidden;
	display: block;
	@include cleanlist;

	li {
		display: inline-block;
	}
}

@mixin rem($property, $rems) {
	#{$property}: #{$rems * 10}px;
	#{$property}: #{$rems}rem;
}

@mixin postmeta {
	@include rem(font-size, 1.5);
	font-weight: 600;
	// text-transform: uppercase;
	color: lighten($gray, 20);

	a {
		color: $blue;

		&:hover {
			color: darken($blue, 15);
		}
	}
}

// ===============================
// Iconify!
// ===============================
// This is based on Font Awesome.
// http://fontawesome.io
//
// It will insert the specified icon
// before your element using the
// :before pseudo selector.
// ===============================
// Usage:
// h1 {
// 	font-size: 2em;
// 	font-weight: bold;
// 	color: #000;
// 	@include iconify('\f091'); /* trophy icon */
// }
// ===============================

@mixin iconify( $unicode ) {
	&:before {
		content: $unicode;
		display: inline-block;
		font-family: 'FontAwesome';
		font-size: inherit;
		font-weight: normal;
		color: inherit;
		vertical-align: middle;
	}
}

@mixin box-shadow( $style ) {
	-webkit-box-shadow: #{$style};
	   -moz-box-shadow: #{$style};
	    -ms-box-shadow: #{$style};
	     -o-box-shadow: #{$style};
	        box-shadow: #{$style};
}

@mixin avatar {
	display: block;
	border: 6px solid $light-gray;
	@include transition(0.2s border ease-in-out);
}