// =========================
// Variables
// =========================

// Settings
$max-width: 		1140px;

// Fonts
// I know, imports suck, but this is the easiest way
// to add these within the limited WordCamp site workflow.
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Noto+Serif:400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
$base-font-size: 		2.0; // 20px
$base-font-size-alt: 	1.6; // 16px
$sans-serif: 			'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 				'Georgia', Cambria, Times New Roman, Times, serif;
$source-sans-pro:		'Source Sans Pro', $sans-serif;
$noto-serif: 			'Noto Serif', $serif;
$body-font: 			$source-sans-pro;
$header-font: 			$noto-serif;

// Paths
$i: 					'img';

// Colors
// Some colors sampled from this palette
// http://www.colourlovers.com/palette/560323/fabula_africana
$blue: 					#1177b8;
$light-blue: 			#bfdff5;
$orange: 				#bc360a;
$gray: 					#666;
$dark-gray: 			#444;
$light-gray: 			#efefef;
$white: 				#fff;
$black: 				#000;
$red: 					#be3C3a;
$gold: 					#d0bb49;
$tan: 					#f3f4e4;