// =========================
// Requirements
// =========================

// Base _s styles
// @import 'underscores-base';

// Bourbon + Neat
@import 'bourbon/bourbon';
@import 'neat/neat';

// Variables, Helpers, Settings
@import 'variables';
@import 'helpers';

// =========================
// Custom CSS
// =========================

//
// Main Structure
//

body {
	background: $dark-gray;
	font-family: $body-font;
	color: $white;
	@include smoothtext;
}

body, #page {
	@include rem(font-size, $base-font-size);

	@media screen and (max-width: 1023px) {
		@include rem(font-size, $base-font-size-alt);
	}
}

#masthead {
	background: $blue url(/files/2014/08/banner.jpg) no-repeat 45% 0 fixed;
	background-size: 100% auto;
	padding: 5em 0 1.5em 0;
	margin: 0 0 3em 0;
	border-bottom: 20px solid $light-blue;

	body.home & {
		padding: 6em 0 3em 0;
	}

	.site-branding,
	.main-navigation {
		float: none;
	}

	.site-branding, hgroup {
		@include outer-container;
		color: $white;
		text-align: center;

		.site-title {
			display: block;
			background: url(/files/2014/08/logo.png) no-repeat center;
			background-size: auto 100%;
			// width: 600px;
			height: 150px;
			font: 0/0 a;
			margin: 0 auto;

			@media screen and (max-width: 1023px) {
				height: 100px;
			}

			body.home & {
				height: 300px;

				@media screen and (max-width: 1023px) {
					height: 150px;
				}
			}

			a {
				color: $white;
				text-decoration: none;
			}
		}

		.site-description {
			@include rem(font-size, 1.6);
			text-transform: uppercase;
			letter-spacing: 2px;

			body.home & {
				@include rem(font-size, 2.0);
			}
		}
	}

	.main-navigation,
	.main-small-navigation {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		background: $red;

		> [class^="menu-"] {
			@include outer-container;
			@include rem(font-size, 1.8);

			.nav-menu,
			.menu {
				display: block;
				text-align: center;
				margin: 0;
				padding: 0;

				> li {
					display: inline-block;
					text-align: center;
					float: none;
					margin-left: -4px;

					@media screen and (max-width: 767px) {
						text-align: left;
						display: block;

						a {
							@include rem(padding-top, 1.0);
							@include rem(padding-right, 2.0);
							@include rem(padding-bottom, 1.0);
							@include rem(padding-left, 2.0);
						}
					}

					&:first-of-type {

					}

					&.current_page_item a {
						background: darken($red, 5);
						position: relative;
						color: $white;

						&:after {
							position: absolute;
							bottom: 0;
							right: 0;
							left: 0;
							background: darken($red, 15);
							height: 6px;
							content: "";
						}
					}
				}

				a {
					display: block;
					position: relative;
					color: $gold;
					font-weight: 600;
					text-decoration: none;
					@include rem(padding, 2.0);
					@include transition(0.2s all ease-in-out);

					&:after {
						position: absolute;
						bottom: 0;
						right: 0;
						left: 0;
						background: lighten($red, 10);
						height: 0;
						content: "";
						@include transition(0.2s all ease-in-out);
					}

					&:hover {
						background: darken($red, 5);
						color: $white;

						&:after {
							height: 6px;
						}
					}
				}

				.sub-menu {
					background: $dark-gray;
					top: 100%;
					@include cleanlist;

					> li {
						text-align: left;
					}

					a {
						color: $white;
						@include rem(padding, 1.5);

						&:after {
							display: none !important;
						}

						&:hover {
							background: lighten($dark-gray, 5);
						}
					}
				}

			}
		}
	}

	.main-small-navigation [class*="menu-container"] .menu {
		display: none;
	}

	.main-navigation [class*="menu-container"] .menu {
		@media screen and (max-width: 767px) {
			display: none;
		}

		@media screen and (max-width: 1023px) {
			@include rem(font-size, 1.4);
		}
	}
}

.menu-toggle {
	background: none;
	border: none;
	border-radius: 0;
	display: none;
	font-size: 0 !important;
	color: transparent !important;
	text-shadow: none;
	text-align: center;
	line-height: 1;
	padding: 0;
	margin: 0;
	outline: none;
	@include box-shadow(none);

	&:before {
		display: block;
		content: "\f0c9" !important;
		@include rem(font-size, 3.2);
		font-family: 'FontAwesome' !important;
		color: lighten($red, 25);
		padding: 0.25em 0.8em;
		margin: 0 auto;
	}

	&:after {
		display: none !important;
	}

	@media screen and (max-width: 1023px) {
		display: block !important;
		visibility: visible !important;
	}
}

#main {
	@include outer-container;
}

#page {
	background: $white;
	margin: 0 auto;
	color: $dark-gray;
	position: relative;

	@media screen and (max-width: 767px) {
		@include rem(font-size, 1.8);
	}
}

#content {
	max-width: $max-width;
	margin: 0 auto;

	@media screen and (max-width: 1262px) {
		padding-right: 2em;
		padding-left: 2em;
	}
}

#primary {

	@media screen and (min-width: 767px) {
		@include span-columns(8);
	}
}

#secondary {

	.widget {
		background: lighten($light-gray, 2.5);
		@include rem(font-size, 1.6);
		padding: 1.2em;

		ul {
			@include cleanlist;
		}

		.widget-title {
			font-family: $header-font;
			font-weight: 200;
			@include rem(font-size, 1.6);
			color: $blue;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: 0 0 0.5em 0;
			padding: 0 0 0.5em 0;
			border-bottom: 1px solid darken($light-gray, 3);

			&:first-of-type {
				margin-top: 0;
			}
		}
	}

	//
	// Sponsors
	//

	.wcb_widget_sponsors {

		// Base elements
		.sponsor-level {

		}

		.sponsor-level-title {
			display: block;
			margin: 1em 0 0.5em 0;
			padding: 0.5em 0;
			@include rem(font-size, 1.8);
			font-weight: 600;
			font-family: $header-font;
			text-transform: uppercase;
			letter-spacing: 1px;
			border-bottom: 1px solid darken($light-gray, 3);

			// Heading icon
			@include iconify('\f091'); // trophy icon
			&:before {
				margin-right: 0.3em;
			}
		}

		.sponsor-logo {
			display: block;

			img {
				background: $white;
				width: 100%;
				max-width: 100%;
				height: auto;
				border: 1px solid darken($light-gray, 3);
				margin: 0.5em 0;
				padding: 5px; // to help some of these logos not look like shit

				&:first-of-type {
					margin-top: 0;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		// Sponsor levels
		.pillar {

			.sponsor-level-title { color: $gold; }
		}

		.champion {

			.sponsor-level-title { color: $orange; }
		}

		.accomplice {

			.sponsor-level-title { color: $blue; }
		}

	}

	@media screen and (min-width: 767px) {
		@include span-columns(4);
	}
}

#colophon {
	background: $dark-gray;
	padding: 4em 2em;
	margin-top: 2em;
	@include rem(font-size, 1.4);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: $white;
	overflow: hidden;

	a {
		text-decoration: none;
	}

	a:link, a:visited {
		color: $gold;
	}

	a:hover, a:active {
		color: $white;
	}
}

//
// Typography
//

a {
	@include transition(0.2s color ease-in-out);
}

a:link, a:visited {
	color: $red;
}

a:hover, a:active {
	color: $gold;
}

table {
	width: 100%;
	border: 1px solid $light-gray;
	border-collapse: collapse;

	tr {

	}

	th, td {
		border: 1px solid $light-gray;
		padding: 0.5em;
		vertical-align: text-top !important;
	}

	th {
		@include rem(font-size, $base-font-size-alt);
		font-weight: 600;
		font-family: $noto-serif;
		color: $orange;
	}

	td {

	}
}

//
// Tickets
//

#tix {

	.tix_tickets_table {

		&, th {
			@media screen and (max-width: 1023px) {
				font-size: 13px !important;
			}

			@media screen and (max-width: 767px) {
				font-size: 12px !important;
			}
		}
	}
}

#primary {

	h1, h2, h3, h4, h5, h6 {
		font-family: $header-font;
		font-weight: 700;

		a {
			text-decoration: none;
		}
	}

	h1, h2, h3 {
		color: $red;
	}

	h1 {
		@include rem(font-size, 4.0);
	}

	h2 {
		@include rem(font-size, 3.0);
	}

	h3 {
		@include rem(font-size, 2.8);
	}

	h4 {
		@include rem(font-size, 2.4);
		color: $blue;
	}

	h5 {
		@include rem(font-size, 2.2);
		color: $blue;
	}

	h6 {
		@include rem(font-size, 2.0);
		color: $dark-gray;
	}

	@media screen and (max-width: 767px) {

	}

	@media screen and (max-width: 1023px) {

	}
}

//
// Forms
//

#content {

	input[type="text"],
	input[type="tel"],
	input[type="password"],
	input[type="email"],
	textarea {

	}

	input[type="submit"],
	input[type="reset"],
	button {
		background: $red !important;
		border: none !important;
		border-bottom: 6px solid darken($red, 15) !important;
		border-radius: 0;
		padding: 1em 1.2em 0.8em 1.2em;
		color: $white;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
		outline: none;
		box-shadow: none !important;
		@include rem(font-size, 1.6);
		@include transition(0.1s all ease-in-out);

		&, &:hover {
			text-shadow: none;
		}

		&:hover {
			background: lighten($red, 5) !important;
			color: $white;
		}
	}
}

//
// Posts
//

.hentry {
	margin-bottom: 3em;
}

.entry-header {
	position: relative;
	padding-bottom: 1em;

	&:before {
		position: absolute;
		top: 0;
		left: -5000px;
		right: 0;
		bottom: 0;
		z-index: 0;
		content: "";
		border-bottom: 2px solid $light-blue;
	}

	.entry-title, .entry-meta {
		position: relative;
		z-index: 1;
		display: block;
	}

	.entry-meta {
		@include postmeta;
	}
}

.entry-footer {
	@include postmeta;
	border-top: 1px solid $light-gray;
	padding-top: 0.5em;
	// text-align: right;

	span {
		margin-right: 0.5em;

		&:last-of-type {
			margin-right: 0;
		}
	}

	.cat-links {

	}

	.comments-link {
		@include iconify('\f086');
	}

	.edit-link {

	}
}

body.single {

	#content > img.wp-post-image {
		display: block;
		clear: both;
		max-width: 100%;
		height: auto;
		margin-bottom: 1em;
	}
}

//
// Comments
//

// Base comment styles from here:
// http://cdharrison.com/2008/12/threaded-comments/

ol.comment-list {
	list-style: none;
	margin: 2em 0;
	padding: 0;
	text-indent: 0;
	overflow: hidden;

	.avatar {
		float: right;
		border-radius: 100%;
	}

	li {

		ul {
			list-style: square;
			margin: 0 0 1em 2em;
		}

		&.comment {
			position: relative;
			background: lighten($light-blue, 5);
			padding: 1.5em;
			margin: 1.5em 0;

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&.alt {

		}

		&.bypostauthor {

		}

		&.byuser {

		}

		&.comment-author-admin {

		}
	}

	.comment-author {
		font-family: $header-font;

		.fn {

			a {
				text-decoration: none;
			}
		}
	}

	.comment-metadata {
		@include rem(font-size, 1.4);
		color: $gray;
		margin: 0.5em 0;
		padding: 0 0 0.5em 0;
		border-bottom: 2px solid $light-blue;
		text-transform: uppercase;
		letter-spacing: 1px;

		a {
			text-decoration: none;
		}

		.edit-link {
			position: absolute;
			bottom: 0;
			right: 0;

			a {
				background: $blue;
				color: $white;
				display: block;
				padding: 0.15em 0.5em;
			}
		}
	}

	.vcard {

	}

	ul.children {

		li {

			&.depth-2, &.depth-3, &.depth-4, &.depth-5 {
				border-left: 5px solid $blue;
				margin: 0 0 0.25em 0.25em;
			}
		}
	}

}

//
// Speakers
//

.speaker-gravatar-list {
	overflow: hidden;

	a {
		text-decoration: none;
		float: left;
		margin: 0 5px 5px 0;

		&:last-of-type {
			margin-right: 0;
		}

		.avatar {
			@include avatar;
			display: inline-block !important;
		}

		&:hover .avatar {
			border-color: $gold;
		}
	}
}

.speaker {
	margin: 20px 0;
	padding: 20px 0;
	overflow: hidden;
	border-bottom: 1px solid $light-gray;

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	.avatar {
		@include avatar;
		float: left;
		margin: 0 20px 20px 0;
	}

	.speaker-bio {

	}

	.speaker-name {

	}

	@media screen and (max-width: 767px) {
		.avatar {
			float: none;
			display: block;
			margin: 0 auto 20px auto;
		}
	}
}

//
// Attendees
//

#tix-attendees {

	.tix-attendee-list {
		@include outer-container;

		.avatar {
			@include avatar;
		}

		.tix-attendee-name {
			font-weight: bold;
			color: $red;
		}
	}

	.tix-attendee-url {
		display: block;
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	@media screen and (max-width: 767px) {
		 .tix-columns-3 li {
		 	@include span-columns(6);

		 	.tix-field {
		 		font-size: 0.9em !important;
		 	}

		 	&:nth-child(2n) {
				margin-right: 0 !important;
				padding-right: 0 !important;
			}
		}
	}

	@media screen and (max-width: 639px) {
		.tix-columns-3 li {
			width: 100% !important;
			height: auto !important;
			padding-left: 0 !important;
			margin-left: 0 !important;
			margin-bottom: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $light-gray;
			@include box-sizing(border-box);

			.tix-field {
		 		font-size: 1.2em !important;
		 	}
		}
	}
}

//
// Schedule
//

.wcpt-schedule {

	a {
		text-decoration: none;
	}

	.wcpt-time {

	}

	.wcpt-session-title {
		font-weight: bold;
		display: block;
	}

	.wcpt-session-speakers {
		background: $light-gray;
		display: block;
		margin-top: 0.5em;
		padding: 0.3em;
		font-size: 0.8em;

		&, a {
			color: $blue;
		}

		a {
			// @include iconify('\f007');

			&:before {
				margin-right: 0.3em;
			}
		}
	}
}

//
// Organizers
//

.wcorg-organizers {
	overflow: hidden;

	.wcorg-organizer {
		overflow: hidden;
		padding: 0.5em 0;
		margin: 0.5em 0;
		border-bottom: 1px solid $light-gray;

		> h2 {
			margin-bottom: 0.5em;
		}

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
			border: none;
		}
	}

	.avatar {
		@include avatar;
		float: left;
		margin: 0 20px 20px 0;
	}

	.wcorg-organizer-description {

	}

	@media screen and (max-width: 767px) {
		.avatar {
			width: 80px !important;
			height: 80px !important;
		}
	}
}